<h1>Leaderboard, <%= User.count %> Users</h1>


<div id='table'%>
	<table class='table table-striped'>
		<thead>
			<tr><td><b>Badges</b></td><td><b>Email</b></td><td><b>Picture</b></td></tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<%= link_to user_path(user) do %>
					<tr id='user-row'><td> <p><%= user.badges.count %></p> </td><td><p><%= link_to user.email, user_path(user) %></p></td><td><%= gravatar_for(user) %></td></tr>
				<% end %>
			<% end %>
		</tbody>
		
	</table>
</div>
