<h1>Plan Your Route, Unlock Achievements!</h1>

<%= form_tag ('/'), method: 'get' %>
<%= select_tag 'station', options_for_select(@stations), class: 'station_select' %>
<%= submit_tag 'search', class: 'station_search' %>

<div data-trips='<%= @locations %>' data-station-lat='<%= @station.latitude %>' data-station-long='<%= @station.longitude %>' id='map'></div>

<style type="text/css">
	
	#map {
		height: 800px;
		width: 100%;
	}
</style>

<script type="text/javascript">
	L.mapbox.accessToken = 'pk.eyJ1IjoiZGh1cmxleTk5IiwiYSI6IjYyMHJZQjAifQ.4o5afc1bToYBBxS-QPIoZw';

	var	map = L.mapbox.map('map', 'dhurley99.j8dg121l').setView([43.655, -79.401], 14);

	var stationLat = $('#map').data('station-lat');
	var stationLong = $('#map').data('station-long');

	L.marker([stationLat,stationLong], {
		icon: L.mapbox.marker.icon({
			'marker-size': 'large',
			'marker-symbol': 'bicycle',
			'marker-color': '#fa0'
		})
	}).addTo(map);


	var polyline_options = {
	    color: 'blue'
	};


	var locations = $('#map').data('trips');

	var polyline_options = {
	    color: 'blue'
	};


	var polyline = L.polyline([]).addTo(map);

	for(var i = 1; i < locations.length; i++) {
		trip = new Trip(locations[i][0], locations[i][1]);
		trip.getDirections();
	}

	function Trip(start_location, end_location) {

		var _this = this;
		this.start_location = new google.maps.LatLng(start_location[0], start_location[1]);
		this.end_location = new google.maps.LatLng(end_location[0], start_location[1]);

		this.getDirections = function() {
			var _this = this
			var directionsService = new google.maps.DirectionsService();
			var directionsRequest = {origin: _this.start_location, destination: _this.end_location, travelMode: google.maps.DirectionsTravelMode.BICYCLING};

			directionsService.route(directionsRequest, function(response, status){	

				var ll_array = [];

				if (response) {
					var path = response.routes[0].overview_path

					for(var i = 0; i < path.length; i++) {
					ll_array.push([path[i].d, path[i].e])
				}
					_this.addPoints(ll_array);
				}
				 

			});
		}

		this.polyline = L.polyline([]).addTo(map);

		this.addPoints = function(ll_array) {
			var _this = this
			_this.polyline.addLatLng(L.latLng(ll_array[0][0], ll_array[0][1]));
			ll_array.shift();
			if (ll_array.length > 1) setTimeout(function(){_this.addPoints(ll_array)}, 100);
	 	};
	}


</script>